@import 'github-markdown-css/github-markdown.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-body ol {
    list-style: decimal;
}

.markdown-body {
    font-family: inherit !important;
    font-size: inherit !important;
}

code {
    white-space: pre-wrap;
}
