@import 'github-markdown-css/github-markdown-light.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 16px;
}

.markdown-body ol {
    list-style: decimal;
}

.markdown-body ul {
    list-style: disc;
}

.markdown-body {
    font-family: inherit !important;
    font-family: 16px;
}

.markdown-body h1, .markdown-body h2 {
    border-bottom: none;
}

@media screen and (max-width: 640px) {
    .markdown-body img {
        margin-left: auto;
        margin-right: auto;
    }
}

code {
    white-space: pre-wrap;
}

.markdown-body p > img {
    max-width: 380px;
    max-height: 380px;
    width: auto;
    height: auto;
    margin-bottom: 52px;
}

.scrollable {
    scrollbar-width: thin;
}
